<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>편지 배달</title>
</head>
<body>
    <main id="app">
        <h3>{{name === '' ? '당신' : name}}에게 보내는 편지</h3>
        <input v-model='name' placeholder="이름을 입력하세요" />    
        <input v-model='letter' placeholder="하고 싶은 말을 입력하세요" />
        <p v-html="letter"></p>
        <ul v-for="scene in memory" :key="scene">
            <li>{{scene}}</li>
        </ul>    
    </main>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const { createApp } = Vue;
        
        createApp({
            data() {
                return {
                    name: '',
                    letter:'',
                    memory:[
                        '처음 만난 날',
                        '도시락 싸먹던 날',
                        '집가고 싶은 나날',
                        '짜장면 피크닉',
                        '어쩌구저쩌구'
                    ]
                }
            },
		}).mount('#app');
    </script>
    </body>
</html>